.weatherView {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.35fr));
  grid-template-rows: repeat(auto-fit, 250px);
}

.refresh-button {
  color: green;
}

.busy-indicator {
  margin-right: 5px;
}
